@import '~bootstrap/scss/bootstrap';


// HEADER + NAVBAR
div.bg-blue {
    background-color: #0282f9;

    .sub {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;

        div {

            span {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}


nav {

    padding: 20px 0;

    .sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .logo {

            img {
                width: 70px;
            }
        }

        .links {
            
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                list-style: none;
                margin-bottom: 0;

                li {
                    
                    a {
                        color: rgba(0, 0, 0, 0.747);
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
            }
        }

    }
}


.jumbotron {
    position: relative;
    background-image: url(../../public/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;

    h2 {
        position: absolute;
        bottom: -35px;
        padding: 10px 20px;
        font-weight: bold;
        color: white;
        background-color: #0282f9;
    }

}
// /HEADER + NAVBAR



// LINKS SECTION
div.bg-grey {
    padding: 50px 50px 20px;
    background-color: #1c1c1c;

    .comic-card {
        padding: 10px;
        font-size: 14px;
        color: white;
        text-transform: uppercase;

        .comic-inner {
            padding-bottom: 30px;

            a {

                img {
                    width: 100%;
                }
            }
        }
    }

    .more-content {
        display: flex;
        justify-content: center;

        button {
            background-color: #0282f9;
            font-weight: bold;
            color: white;
            padding: 6px 40px;
            border: none;

            &:hover {
                background-color: #0282f9af;
            }
        }
    }
}
// /LINKS SECTION



// INFO SECTION
div.bg-blue-secondary {
    position: relative;
    z-index: 2;
    background-color: #0282f9;
    padding: 40px 0;

    .container {

        .row {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .col-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                color: white;

                .img {

                    img {
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                        cursor: pointer;
                    }
                }

                .title {
                    cursor: pointer;
                }
            }
        }
    }
}
// /INFO SECTION



// UPPER FOOTER
div.upperFooter {
    background-image: url("/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .link-img {
        display: flex;
        justify-content: space-between;
        position: relative;

        .footer-link {
            display: flex;
            gap: 40px;

            .sections {

                margin: 30px 0;

                strong {
                    margin: 20px 0;
                    font-size: 20px;
                    color: white;
                }

                .single-section {

                    ul {
                        padding: 0;
                        list-style-type: none;
                        color: #74787b;
                        
                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .dc-image {
            position: absolute;
            right: 10px;
            top: -10%;
            z-index: 1;

            img {
                transform: rotate(350deg);
                height: auto;
                width: 500px;
                object-fit: cover;
            }
        }
    }

    .cookies {
        font-size: 12px;
        color: #74787b;
    }
}
// /UPPER FOOTER